#container {
    background-color: white;
    width: 650px;
    margin: 50px  auto;
    padding: 20px;
    border: solid 1px  #cecece;
    border-radius: 3px;
    cursor: pointer;
}

.completed {
    color: #cecece;
    text-decoration: line-through;
}